---
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  class="m-0 px-6 py-4 mix-blend-difference text-background dark:text-foreground sticky top-0 z-2 backdrop-filter backdrop-blur-2xl bg-opacity-30 border-b-[0.5px] border-slate-50 firefox:bg-opacity-90"
>
  <nav class="flex items-center gap-8 justify-between max-w-[96ch] mx-auto">
    <a href="/"><Logo /></a>
    <div class="flex items-center gap-4">
      <div class="flex items-center gap-6">
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </div>
      <div class="block h-5 w-[2px] rounded bg-slate-500"></div>
      <ThemeToggle />
    </div>
  </nav>
</header>
