---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface LayoutProps {
  title?: string;
  description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } =
  Astro.props as LayoutProps;
---

<!doctype html>
<html lang="en" class="w-full h-full">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-background text-foreground antialiased w-full h-full flex flex-col">
    <Header />
    <main class="max-w-[96ch] py-8 px-6 mx-auto grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
